@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.inter {
  font-family: 'Inter', sans-serif;
}

body {
  color: #17131C;
  background-color: #FCFBFD;
  overflow-y: scroll;
}

.padding {
  padding-left: 8vw;
  padding-right: 8vw;
}

@media all and (min-width: 768px) {
  .padding {
    padding-left: 12vw;
    padding-right: 12vw;
  }
}

@media all and (min-width: 1536px) {
  .padding {
    padding-left: 18vw;
    padding-right: 18vw;
  }
}

@keyframes clapRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(10%);
  }
}

@keyframes clapLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10%);
  }
}

@keyframes clapNoise {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(-10%, -10%);
  }
}

.clap-right {
  animation: clapRight 200ms alternate infinite;
}

.clap-left {
  animation: clapLeft 200ms alternate infinite;
}

.clap-noise {
  animation: clapNoise 200ms alternate infinite ease-out;
}